# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text files
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.webp binary
*.gif binary
*.tiff binary
*.ico binary

